<div class="sign-in-to-new-zambion ui-grid ui-grid-responsive">
  <div class="SignLogo ui-grid-col-12">
    <div class="SignLogo-img"></div>
    <h2>Zambion</h2>
  </div>
  <div class="regeiter ui-grid-col-12">
    <div class="registerEmployee">
      <a md-button="" router-active [routerLink]=" ['Home'] ">Employee</a>
    </div>
    <div class="registerEmployer">
      <a md-button="" router-active [routerLink]=" ['SignInRegisterEmployer'] ">Employer</a>
    </div>
  </div>
  <div class="readyLogin ui-grid-col-12">
    <p>Already registered?</p>
    <div class="readyLogin-login">
      <a md-button="" router-active [routerLink]=" ['SignIn'] ">Sign In</a>
    </div>
  </div>

</div>
