<div class="sign-in-register-employer ui-grid ui-grid-responsive">
  <div class="registerEmployer-img">
    <img src="http://placehold.it/150x150" alt="">
  </div>
  <h3>Upcoming Employer Section</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ipsum laudantium molestias nostrum odio odit
    perspiciatis recusandae similique voluptatem. Amet atque corporis laborum libero maiores pariatur vel? Amet est,
    illum!</p>
  <div>
    <a md-button="" router-active [routerLink]=" ['SignInToNewZambion'] ">Back</a>
  </div>
</div>

